/* --Google Fonts-- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* --Common CSS Styles-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 64px;
}
p {
  color: #6c6c6c;
}
a {
  font-size: 16px;
  text-decoration: none;
}
nav,
.hero {
  background: #352cb9;
}
.cards {
  width: 330px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn {
  padding: 10px 24px;
  background: #78c51f;
  color: #ffffff;
  transition: 0.5s all;
}
.btn:hover {
  box-shadow: inset 165px 0 0 0 rgb(221, 235, 18);
  color: #353232;
}
ul li a {
  color: #ffffff;
}
.news-letter > h2,
.products-container > h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}
.highlights,
.news-letter,
.products-container,
footer {
  margin-top: 165px;
}
/* --Header CSS Styels-- */
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin-right: 36px;
}
.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexible-details i {
  margin-left: 8px;
}

.login-button i {
  margin-right: 8px;
}
/* --Hero Section Styles-- */
.hero {
  padding: 15px 0 120px 0;
}
.hero-details h1 {
  margin-bottom: 21px;
  color: #ffffff;
}
.hero-banner {
  margin-left: 6%;
}
.hero-banner img {
  width: 556px;
}
/* --Players Styles-- */
.players-container {
  display: grid;
  place-items: center;
  margin-top: 70px;
}
.players {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.player {
  padding: 15px;
}
.player img {
  width: 300px;
}
.player h2 {
  color: #18191f;
  font-size: 28px;
  margin-bottom: 10px;
}
.player p {
  margin-bottom: 15px;
}
/* Highlight Sectin Styles */
.highlight-details h2 {
  font-size: 48px;
}
.highlight-details p {
  margin-bottom: 25px;
}
.highlight-banner img {
  width: 567px;
  margin-left: 5%;
}
/* --News Section Styles-- */
.news-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.news {
  padding: 15px;
  border-radius: 10px;
}
.news-banner {
  width: 300px;
  border-radius: 10px;
}
.news-details .author {
  margin: 10px 0;
}
.news-details .author a {
  font-style: normal;
  font-size: 16px;
}
.news-details a {
  color: #78c51f;
  font-style: italic;
  font-size: 14px;
}
/* Product Section Styles */
.products-container {
  display: grid;
  place-items: center;
}
.products {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 30px;
}
.product {
  width: 300px;
  display: grid;
  text-align: center;
  overflow: hidden;
}
.product:hover .product-banner img {
  transform: scale(1.2);
  transition: 1s transform;
}
.product-banner img {
  width: 300px;
}
.product-details {
  margin-top: 20px;
  margin-bottom: 35px;
}
.product-details p {
  margin-bottom: 20px;
}
.product-details .fa-star.filled {
  color: #78c51f;
}
.product-details .fa-star.unfilled {
  color: #bcc0b27c;
}

/* --Footer Styles-- */
footer {
  display: grid;
  place-items: center;
  margin-bottom: 60px;
}
.footer-logo img {
  width: 485px;
}

.social-links i {
  padding: 10px;
  margin-right: 14px;
  border-radius: 50%;
  color: #969bab;
  background: #e7e7e8;
  transition: 0.2s all;
}
.social-links i:hover {
  color: #78c51f;
  box-shadow: rgba(18, 18, 19, 0.493) 0px 7px 20px 0px;
}
footer p {
  margin-top: 20px;
  color: #000000;
  font-size: 18px;
}




/* ----------------------------------------------END----------------------------------------------- */